{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akashic-Records</title>
    <script src="https://kit.fontawesome.com/781dbdae3e.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Gpt2Integration/css/style.css' %}">

</head>
<body>
    <header>
        <div class = "branding">
            <br>
            <img src="{% static 'Gpt2Integration/img/SistineAnime.png' %}" width="300px;" alt="Foto da Sistine do Anime Akashic Records"/><br>
            Akashic-Records<br> 
        </div>

    </header>
<div class="container">
    <div class= "gpt2-theme">
        <div class="gpt2-theme-title">
            <h1>Gpt2 em Português</h1>
        </div>
        <div class = "gpt2-model">
            <div class= "model-title">pierreguillou/gpt2-small-portuguese</div>
            <div class="model-description">
                <h1>Description:</h1>
                <p>Description Content: alooooo</p>
            </div>
            
            <form class="gpt2-query">
                <label class="block ">
                    <span class=" block overflow-auto resize-y py-2 px-3 w-full min-h-[42px] max-h-[500px] border border-gray-200 rounded-lg shadow-inner outline-none focus:ring-1 focus:ring-inset focus:ring-indigo-200 focus:shadow-inner dark:bg-gray-925 svelte-1wfa7x9" role="textbox" contenteditable="" placeholder ="Your sentence here...">
                        Alooooo
                    </span>
                </label> 
                <button class="btn-widget w-24 h-10 px-5 " type="submit">Compute</button>
            </form>
        </div>

        

    </div>
</div>

    <footer>
        <span>&copy; <img src="{% static 'Gpt2Integration/img/Komi_san_Python.png' %}" width="30px;" height="30px" alt="Foto da Komi-San com Livro de Python"/> &nbsp; CLR | All rights Reserved</span>
    </footer>
    
    <script src="{% static 'Gpt2Integration/js/main.js'%}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>