{% extends "base.html" %}

{% load static %}

{% block title %}Página Inícial{% endblock %}

{% block main %}
<h2>Akashic Records</h2>

<div class="row justify-content-center">
    <div class="col">
        <img src="{% static 'Gpt2Integration/img/SistineAnime.png' %}" width="300px;" alt="Foto da Sistine do Anime Akashic Records"/>
    </div>
</div>


{% include 'messages.html' %}

<div class="card border-dark mb-3">
    <div class="card-header">pierreguillou/gpt2-small-portuguese</div>
    <div class="card-body">
      <h4 class="card-title">O que é o GPT-2 Small Portuguese? (em inglês)</h4>
      <p class="card-text">GPorTuguese-2 (Portuguese GPT-2 small) is a state-of-the-art language model for Portuguese based on the GPT-2 small model.
        It was trained on Portuguese Wikipedia using Transfer Learning and Fine-tuning techniques in just over a day, on one GPU NVIDIA V100 32GB and with a little more than 1GB of training data.
        It is a proof-of-concept that it is possible to get a state-of-the-art language model in any language with low ressources.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="basetext" class="form-label mt-4">Digite o texto gerador</label>
            <textarea class="form-control" id="basetext" rows="3"></textarea>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="result" class="form-label mt-4">Resultado</label>
            <textarea class="form-control" id="result" rows="3" readonly></textarea>
        </div>
    </div>
</div>

<div class="row justify-content-end">
    {% if user.is_authenticated %}
        {% csrf_token %}

    <div class="col-1">
        <button type="button" id="openModal" class="btn btn-outline-success" data-toggle="modal" data-target="#popUpModal">Salvar</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="popUpModal" tabindex="-1" role="dialog" aria-labelledby="popUpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="popUpModalLabel">Criação de Post</h5>
            <button type="button" class="btn btn-outline-light close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group" id="titleInputBlock">
                    <label for="post-title" class="form-label mt-4">Título desejado</label>
                    <textarea class="form-control" id="post-title" rows="1"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success" id="save" >Save changes</button>
            </div>
        </div>
        </div>
    </div>


    {% endif %}
    <div class="col-1">
        <button type="submit" class="btn btn-outline-light" id="compute">Computar</button>
    </div>
</div>

{% endblock %}

{% block extrajs %}

<script src="{% static 'Gpt2Integration/js/main.js'%}"></script>

{% endblock %}