body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 30 0;
}

.row {
    margin-bottom: 5px;
}

.footer {
    background-color: #eee;
    padding: 30;
}