{% extends "base.html" %}
{% block title %}Lista de Textos Gerados{% endblock %}

{% block main %}
<h2>Lista de Textos Gerados</h2>

<hr>

{% include 'messages.html' %}

{% if posts %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Título</th>
        <th scope="col">Criador</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row" style="width: 25%">{{ post.created_at }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.created_by.username }}</td>
            <td style = "width:50%">{{post.generated_text}}</td>
            <td>
                <a href="{% url 'edit_post' post.post_id %}" title="Editar texto gerado.">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
              <a href="{% url 'delete_post' post.post_id %}" title="Deletar texto gerado.">
                  <i class="fas fa-trash-alt red" style= "color: darkred"></i>
              </a>
          </td>
        </tr>
        {% endfor %}
      
    </tbody>
  </table>

{% else %}

<div class="row">
    <p>Nenhum post gerado!</p>
</div>

{% endif %}

{% endblock %}